amarium==0.1.3
astroid==2.13.0
asttokens==2.1.0
attrs==22.2.0
autopep8==2.0.1
backcall==0.2.0
black==22.12.0
bleach==5.0.1
build==0.9.0
-e git+http://raspberrytea/cap_jmk/carate-new.git@d76db0e58b2d7517d653dcfeb2116e18c2e5a579#egg=carate
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
commonmark==0.9.1
contourpy==1.0.6
coverage==7.0.3
cryptography==39.0.0
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
dill==0.3.6
docformatter==1.5.1
docutils==0.19
emoji==2.2.0
entrypoints==0.4
exceptiongroup==1.1.0
executing==1.2.0
flake8==6.0.0
fonttools==4.38.0
idna==3.4
importlib-metadata==6.0.0
iniconfig==2.0.0
ipykernel==6.17.1
ipython==8.6.0
isort==5.11.4
jaraco.classes==3.2.3
jedi==0.18.2
jeepney==0.8.0
Jinja2==3.1.2
joblib==1.2.0
jupyter_client==7.4.7
jupyter_core==5.0.0
keyring==23.13.1
kiwisolver==1.4.4
lazy-object-proxy==1.9.0
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mccabe==0.7.0
more-itertools==9.0.0
mypy==0.991
mypy-extensions==0.4.3
nest-asyncio==1.5.6
networkx==2.8.8
numpy==1.23.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
packaging==21.3
pandas==1.5.2
parso==0.8.3
pathspec==0.10.3
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pkginfo==1.9.5
platformdirs==2.5.4
pluggy==1.0.0
prettify-py==0.2.3
prompt-toolkit==3.0.33
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.10.0
pycparser==2.21
pyflakes==3.0.1
Pygments==2.13.0
pylint==2.15.9
pyparsing==3.0.9
pytest==7.2.0
pytest-cov==4.0.0
python-dateutil==2.8.2
pytz==2022.6
pyzmq==24.0.1
rdkit-pypi==2022.9.1
readme-renderer==37.3
requests==2.28.1
requests-toolbelt==0.10.1
rfc3986==2.0.0
rich==13.0.1
scikit-learn==1.1.3
scipy==1.9.3
SecretStorage==3.3.3
six==1.16.0
spawn-lia==0.1.8
stack-data==0.6.1
threadpoolctl==3.1.0
tomli==2.0.1
tomlkit==0.11.6
torch==1.13.1
torch-cluster==1.6.0
torch-geometric==2.2.0
torch-scatter==2.1.0
torch-sparse==0.6.16
torch-spline-conv==1.2.1
torchaudio==0.13.1+cpu
torchvision==0.14.1+cpu
tornado==6.2
tqdm==4.64.1
traitlets==5.5.0
twine==4.0.2
typing_extensions==4.4.0
untokenize==0.1.1
urllib3==1.26.12
wcwidth==0.2.5
webencodings==0.5.1
wrapt==1.14.1
zipp==3.11.0
